{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 *
 * Define a custom macro that will render all menu trees.
 */
#}
{% macro menu_links(items, attributes, menu_level, classes) %}
<div id="navigation">
<div class="region region-navigation">
<div id="block-menu-block-jwd-custom-main-menu" class="block block-menu-block first last odd" role="navigation">
<h2 class="block__title block-title"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">main menu</font></font></h2>
<div class="content">
<div class="menu-block-wrapper menu-block-jwd_custom-main_menu menu-name-main-menu parent-mlid-0 menu-level-1">
  {% if items %}
    <ul{{ attributes.addClass(menu_level == 0 ? classes : 'menu') }}>
    {% for item in items %}
      {%
        set item_classes = [
          item.is_expanded and item.below ? 'menu__item is-expanded',
          item.is_expanded and menu_level == 0 and item.below ? 'menu__item dropdown',
          item.in_active_trail ? 'is-active is-active-trail active-trail',
        ]
      %}
      {% if menu_level == 0 and item.is_expanded and item.below %}
        <li{{ item.attributes.addClass(item_classes) }}>
        <a href="{{ item.url }}" class="menu__link">{{ item.title }} <span class="caret"></span></a>
      {% else %}
        <li class="menu__item is-leaf">
        {{ link(item.title, item.url) }}
      {% endif %}
      {% if item.below %}
        {{ _self.menu_links(item.below, attributes.removeClass(classes), menu_level + 1, classes) }}
      {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>
</div>
</div>
</div>
</div>
{% endmacro %}


{#
  Invoke the custom macro defined above. If classes were provided, use them.
  This allows the template to be extended without having to also duplicate the
  code above. @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ _self.menu_links(items, attributes, 0, classes ? classes : ['menu', 'menu--' ~ menu_name|clean_class, 'nav']) }}



 